@using LTHD_MVC.Models;
@using LTHD_MVC.Helper;
@{
    Layout = "~/Views/TrangChu/Layout.cshtml";
    List<GioHang> listgh = (List<GioHang>)Session["listgiohang"];
    int stt = 1;    
}

<h2 style="text-align:center;">Giỏ hàng của bạn</h2>
<h4 style=" margin-top: 20px; color: #aa1919; font-weight: bold;">Thông tin sản phẩm đã đặt:</h4>
<table class="table table-bordered">
    <thead style="background:#766d6d; color:white; ">
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Đơn giá</th>
            <th>Thành tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gh in listgh)
        { 
        <tr>
            <td>@Html.Raw(stt++)</td>
            <td>@gh.TenSanPham</td>
            <td>@gh.SoLuong</td>
            <td>@gh.DonGia</td>
            <td>@gh.ThanhTien</td>
            <td><a class="btn btn-danger"  href="/GioHang/XoaGioHang/@gh.Id">Xóa </a></td>
        </tr>
        }
    </tbody>
</table>
<form class="form-horizontal">
    <h4 style=" margin-top: 50px; color: #aa1919; font-weight: bold;">Xác nhận thông tin đơn đặt hàng</h4>
    <div class="form-group">
        <label for="MaDH" class="col-sm-5 control-label">Mã đơn đặt hàng</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="MaDH">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="form-group">
        <label for="NgayDat" class="col-sm-5 control-label">Ngày đặt hàng</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="NgayDat">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="form-group">
        <label for="NgayGiao" class="col-sm-5 control-label">Ngày giao hàng</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="NgayGiao">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="form-group">
        <label for="GhiChu" class="col-sm-5 control-label">Ghi chú</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="GhiChu">
        </div>
        <div class="col-sm-1"></div>
    </div>


    <h4 style=" margin-top: 50px; color: #aa1919; font-weight: bold;">Xác nhận thông tin khách hàng</h4>
    <div class="form-group">
        <label for="HoTen" class="col-sm-5 control-label">Họ tên khách hàng</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="HoTen">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="form-group">
        <label for="DiaChi" class="col-sm-5 control-label">Địa chỉ khách hàng</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="DiaChi">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="form-group">
        <label for="Email" class="col-sm-5 control-label">Email khách hàng</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="Email">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="form-group">
        <label for="SoDienThoai" class="col-sm-5 control-label">Số điện thoại</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="SoDienThoai">
        </div>
        <div class="col-sm-1"></div>
    </div>
</form>
<button type="button" class="btn btn-primary" style="margin-left:260px; margin-top:20px;">Xác nhận đặt hàng</button>