<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title<</title>
    <meta name="description" content="@ViewBag.Title" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/fonts/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link href="~/Content/Css/bootstrap-dialog.min.css" rel="stylesheet" />
    <script src="/assets/js/ace-extra.min.js"></script>
    <script src="/assets/js/jquery.2.1.1.min.js"></script>
    <script src="~/Script/bootstrap.min.js"></script>
    <script src="~/Script/bootstrap-dialog.min.js"></script>
    <style>
        body {
            font-family: "Segoe UI" !important;
        }

        table tr td {
            vertical-align: middle !important;
        }

        th {
            text-align: center;
        }

        input[type="text"]:disabled {
            background-color: transparent !important;
            border-top-color: transparent !important;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            width: 60%;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.pageMe = function (opts) {
                var $this = this,
                    defaults = {
                        perPage: 10,
                        showPrevNext: false,
                        hidePageNumbers: false
                    },
                    settings = $.extend(defaults, opts);

                var listElement = $this;
                var perPage = settings.perPage;
                var children = listElement.children();
                var pager = $('.pager');

                if (typeof settings.childSelector != "undefined") {
                    children = listElement.find(settings.childSelector);
                }

                if (typeof settings.pagerSelector != "undefined") {
                    pager = $(settings.pagerSelector);
                }

                var numItems = children.size();
                var numPages = Math.ceil(numItems / perPage);

                pager.data("curr", 0);

                if (settings.showPrevNext) {
                    $('<li><a href="#" class="prev_link">«</a></li>').appendTo(pager);
                }

                var curr = 0;
                while (numPages > curr && (settings.hidePageNumbers == false)) {
                    $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                    curr++;
                }

                if (settings.showPrevNext) {
                    $('<li><a href="#" class="next_link">»</a></li>').appendTo(pager);
                }

                pager.find('.page_link:first').addClass('active');
                pager.find('.prev_link').hide();
                if (numPages <= 1) {
                    pager.find('.next_link').hide();
                }
                pager.children().eq(1).addClass("active");

                children.hide();
                children.slice(0, perPage).show();

                pager.find('li .page_link').click(function () {
                    var clickedPage = $(this).html().valueOf() - 1;
                    goTo(clickedPage, perPage);
                    return false;
                });
                pager.find('li .prev_link').click(function () {
                    previous();
                    return false;
                });
                pager.find('li .next_link').click(function () {
                    next();
                    return false;
                });

                function previous() {
                    var goToPage = parseInt(pager.data("curr")) - 1;
                    goTo(goToPage);
                }

                function next() {
                    goToPage = parseInt(pager.data("curr")) + 1;
                    goTo(goToPage);
                }

                function goTo(page) {
                    var startAt = page * perPage,
                        endOn = startAt + perPage;

                    children.css('display', 'none').slice(startAt, endOn).show();

                    if (page >= 1) {
                        pager.find('.prev_link').show();
                    }
                    else {
                        pager.find('.prev_link').hide();
                    }

                    if (page < (numPages - 1)) {
                        pager.find('.next_link').show();
                    }
                    else {
                        pager.find('.next_link').hide();
                    }

                    pager.data("curr", page);
                    pager.children().removeClass("active");
                    pager.children().eq(page + 1).addClass("active");

                }
            };
        });
    </script>
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default">
        <script type="text/javascript">
            try { ace.settings.check('navbar', 'fixed') } catch (e) { }
        </script>
        <div class="navbar-container" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-header pull-left">
                <a href="index.html" class="navbar-brand">
                    <small>
                        <i class="fa fa-leaf"></i>
                        Thế giới máy tính - Admin Control Panel
                    </small>
                </a>
            </div>

            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <li class="light-blue">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <span class="user-info">
                                <small>Xin chào,</small>
                                @Session["Admin_Hoten"]
                            </span>

                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                            <li>
                                <a href="/QuanLy/Settings">
                                    <i class="ace-icon fa fa-cog"></i>
                                    Cài đặt
                                </a>
                            </li>

                            <li>
                                <a href="/QuanLy/Profile">
                                    <i class="ace-icon fa fa-user"></i>
                                    Thông tin cá nhân
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li>
                                <a href="/QuanLy/logout">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Thoát
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div id="sidebar" class="sidebar responsive">
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'fixed') } catch (e) { }
            </script>

            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <i class="ace-icon fa fa-signal"></i>
                    </button>

                    <button class="btn btn-info">
                        <i class="ace-icon fa fa-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                        <i class="ace-icon fa fa-users"></i>
                    </button>

                    <button class="btn btn-danger">
                        <i class="ace-icon fa fa-cogs"></i>
                    </button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- /.sidebar-shortcuts -->

            <ul class="nav nav-list">
                <li class="@ViewBag.ClassThongKe">
                    <a href="/QuanLy/ThongKe">
                        <i class="menu-icon fa fa-bar-chart"></i>
                        <span class="menu-text">Thống kê</span>
                    </a>
                </li>

                <li class="@ViewBag.ClassSanPham">
                    <a href="/QuanLy/SanPham">
                        <i class="menu-icon fa fa-th"></i>
                        <span class="menu-text">Quản lý sản phẩm</span>
                    </a>
                </li>

                <li class="@ViewBag.ClassNhaCungCap">
                    <a href="/QuanLy/NhaCungCap">
                        <i class="menu-icon fa fa-building-o"></i>
                        <span class="menu-text">Quản lý nhà cung cấp</span>
                    </a>
                </li>

                <li class="@ViewBag.ClassNguoiDung">
                    <a href="/QuanLy/NguoiDung">
                        <i class="menu-icon fa fa-group"></i>
                        <span class="menu-text">Quản lý người dùng</span>
                    </a>
                </li>

                <li class="@ViewBag.ClassPhieuNhap">
                    <a href="/QuanLy/PhieuNhap">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">Quản lý phiếu nhập</span>
                    </a>
                </li>

                <li class="@ViewBag.ClassDonDatHang">
                    <a href="/QuanLy/DonDatHang">
                        <i class="menu-icon fa fa-book"></i>
                        <span class="menu-text">Quản lý đơn đặt hàng</span>
                    </a>
                </li>

                <li class="@ViewBag.ClassTonKho">
                    <a href="/QuanLy/TonKho">
                        <i class="menu-icon fa fa-desktop"></i>
                        <span class="menu-text">Quản lý tồn kho</span>
                    </a>
                </li>

            </ul><!-- /.nav-list -->
            <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
                <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
            </div>
            <script type="text/javascript">
                try { ace.settings.check('sidebar', 'collapsed') } catch (e) { }
            </script>
        </div>

        <div class="main-content">
            <div class="main-content-inner">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="/QuanLy">Thế giới máy tính</a>
                        </li>
                        <li class="active">@ViewBag.BreadCrumb</li>
                    </ul><!-- /.breadcrumb -->
                </div>

                <div class="page-content">
                    @RenderBody()
                </div><!-- /.page-content -->
            </div>
        </div><!-- /.main-content -->

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Thế giới máy tính</span>
                        Admin Control Panel &copy; 2015
                    </span>&nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="https://twitter.com"><i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i></a>
                        <a href="https://facebook.com"><i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i></a>
                        <a href="https://rss.com/"><i class="ace-icon fa fa-rss-square orange bigger-150"></i></a>
                    </span>
                </div>
            </div>
        </div>
        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div><!-- /.main-container -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='assets/js/jquery.min.js'>" + "<" + "/script>");
        if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery-ui.custom.min.js"></script>
    <script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/assets/js/jquery.easypiechart.min.js"></script>
    <script src="/assets/js/jquery.sparkline.min.js"></script>
    <script src="/assets/js/jquery.flot.min.js"></script>
    <script src="/assets/js/jquery.flot.pie.min.js"></script>
    <script src="/assets/js/jquery.flot.resize.min.js"></script>
    <script src="/assets/js/ace-elements.min.js"></script>
    <script src="/assets/js/ace.min.js"></script>
</body>
</html>
