@using LTHD_MVC.Models;
@{
    ViewBag.Title = "Quản lý người dùng - Admin Control Panel - Thế giới máy tính";
    ViewBag.BreadCrumb = "Quản lý người dùng";
    ViewBag.ClassNguoiDung = "active";
    Layout = "~/Views/QuanLy/Layout.cshtml";
    List<NguoiDung> ListNguoiDung = (List<NguoiDung>)ViewBag.ListNguoiDung;
    List<Quyen> ListQuyen = (List<Quyen>)ViewBag.ListQuyen;
    int stt = 1;
}
<div class="row">
    <div class="col-xs-12">
        <div style="margin-bottom:10px;">
            <a class="btn btn-success no-border" href="/QuanLy/NguoiDung/ThemNguoiDung">
                <i class="ace-icon fa fa-plus bigger-120"></i>
                Thêm mới
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: #5bc0de; color: white; background-image: none;">
                        <th>STT</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Quyền</th>
                        <th>Công cụ</th>
                    </tr>
                </thead>

                <tbody id="myTable">
                    @foreach (NguoiDung nd in ListNguoiDung)
                    {
                        <tr>
                            <td class="center">@(stt++)</td>
                            <td>@nd.HoTen</td>
                            <td>@nd.Email</td>
                            <td>@nd.DiaChi</td>
                            <td>@nd.DienThoai</td>
                            <td>@ListQuyen.Where(i => i.Id == nd.Id_Quyen).FirstOrDefault().TenQuyen</td>
                            <td class="center">
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="green" title="Chỉnh sửa" href="/QuanLy/NguoiDung/CapNhatNguoiDung/@nd.Id"><i class="ace-icon fa fa-pencil bigger-230"></i></a>
                                    <a class="red" title="Xóa" href="#" onclick="ConfirmDelete(@nd.Id)"><i class="ace-icon fa fa-trash-o bigger-230"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 5 });
    });

    function ConfirmDelete(id) {
        BootstrapDialog.confirm({
            title: 'Cảnh báo',
            message: 'Bạn có muốn xóa người dùng này?',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
            callback: function (result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if (result) {
                    $.ajax({
                        url: '/QuanLy/NguoiDung/XuLyXoaNguoiDung',
                        type: 'POST',
                        data: { id: id },
                        success: function (data) {
                            if (data == 1) {
                                BootstrapDialog.alert('Xóa thành công', function () {
                                    location.href = '/QuanLy/NguoiDung';
                                });
                            }
                            else {
                                BootstrapDialog.alert('Có lỗi trong khi xóa, vui lòng thử lại!', function () {
                                    location.href = '/QuanLy/NguoiDung';
                                });
                            }
                        }
                    });
                }
            }
        });
    }
</script>
