@using LTHD_MVC.Models;
@{
    ViewBag.Title = "Quản lý sản phẩm - Admin Control Panel - Thế giới máy tính";
    ViewBag.BreadCrumb = "Quản lý sản phẩm";
    ViewBag.ClassSanPham = "active";
    Layout = "~/Views/QuanLy/Layout.cshtml";
    List<SanPham> ListSanPham = (List<SanPham>)ViewBag.ListSanPham;
    List<NhaCungCap> ListNhaCungCap = (List<NhaCungCap>)ViewBag.ListNhaCungCap;
    int stt = 1;
}
<div class="row">
    <div class="col-xs-12">
        <div style="margin-bottom:10px;">
            <a class="btn btn-success no-border" href="/QuanLy/SanPham/ThemSanPham">
                <i class="ace-icon fa fa-plus bigger-120"></i>
                Thêm mới
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: #5bc0de; color: white; background-image: none;">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Nhà cung cấp</th>
                        <th>Đơn giá</th>
                        <th>Hình ảnh</th>
                        <th>Số lượng</th>
                        <th>Công cụ</th>
                    </tr>
                </thead>

                <tbody id="myTable">
                    @foreach (SanPham sp in ListSanPham)
                    {
                        <tr>
                            <td class="center">@(stt++)</td>
                            <td>@sp.TenSP</td>
                            <td>@ListNhaCungCap.Where(i => i.Id == sp.Id_NCC).FirstOrDefault().TenNhaCC</td>
                            <td>@sp.DonGia</td>
                            <td style="text-align:center;"><img src="/Hinh/MayTinh/sanpham/@sp.HinhAnh" width="80" /></td>
                            <td>@sp.SoLuong</td>
                            <td class="center">
                                <div class="hidden-sm hidden-xs action-buttons">
                                    <a class="blue" title="Thêm mới" href="/QuanLy/SanPham/ChiTietSanPham/@sp.Id"><i class="ace-icon fa fa-search-plus bigger-230"></i></a>
                                    <a class="green" title="Chỉnh sửa" href="/QuanLy/SanPham/CapNhatSanPham/@sp.Id"><i class="ace-icon fa fa-pencil bigger-230"></i></a>
                                    <a class="red" title="Xóa" href="/QuanLy/SanPham/XoaSanPham/@sp.Id"><i class="ace-icon fa fa-trash-o bigger-230"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 5 });
    });
</script>
