@using LTHD_MVC.Models;
@{
    ViewBag.Title = "Quản lý tồn kho - Admin Control Panel - Thế giới máy tính";
    ViewBag.BreadCrumb = "Quản lý tồn kho";
    ViewBag.ClassTonKho = "active";
    Layout = "~/Views/QuanLy/Layout.cshtml";
    List<ThongKe_Result> ListThongKe = (List<ThongKe_Result>)ViewBag.ListThongKe;
    List<SanPham> ListSanPham = (List<SanPham>)ViewBag.ListSanPham;
    int stt = 1;
}
<div class="row">
    <div class="col-xs-12">
        <div style="margin-bottom:10px;">
            <form name="FormThongKe" method="post" action="/QuanLy/TonKho">
                <table class="table table-bordered" align="center">
                    <tr>
                        <td>
                            Sản phẩm
                        </td>
                        <td>
                            <select class="form-control" name="sanpham">
                                <option value="-1">Tất cả</option>
                                @foreach (SanPham sp in ListSanPham)
                                {
                                    <option value="@sp.Id" @if (@sp.Id == int.Parse(Session["ThongKe_sanpham"].ToString()))
                                                           { @Html.Raw("selected=\"selected\"") ; }>@sp.TenSP</option>
                                }
                            </select>
                        </td>
                        <td>
                            Từ tháng
                        </td>
                        <td>
                            <input name="tungay" type="month" class="form-control" required value="@Session["Thongke_tungay"].ToString()" />
                        </td>
                        <td>
                            Đến tháng
                        </td>
                        <td>
                            <input name="denngay" type="month" class="form-control" required value="@Session["Thongke_denngay"].ToString()" />
                        </td>
                        <td align="center">
                            <input type="submit" name="thongke" value="Lọc" class="btn btn-primary no-border" />
                            <input type="submit" name="thongke" value="Xuất báo cáo" class="btn btn-success no-border" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color: #5bc0de; color: white; background-image: none;">
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng nhập</th>
                        <th>Số lượng xuất</th>
                        <th>Số lượng tồn</th>
                        <th>Ngày tháng</th>
                    </tr>
                </thead>

                <tbody id="myTable">
                    @foreach (ThongKe_Result tk in ListThongKe)
                    {
                        <tr>
                            <td class="center">@(stt++)</td>
                            <td>@tk.TenSP</td>
                            <td>@tk.SoLuongNhap</td>
                            <td>@tk.SoLuongXuat</td>
                            <td>@(tk.SoLuongNhap - tk.SoLuongXuat)</td>
                            <td>@tk.NgayThang</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-xs-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 5 });
    });

    function ConfirmDelete(id) {
        BootstrapDialog.confirm({
            title: 'Cảnh báo',
            message: 'Bạn có muốn xóa tồn kho này?',
            type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
            closable: true, // <-- Default value is false
            draggable: true, // <-- Default value is false
            btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
            callback: function (result) {
                // result will be true if button was click, while it will be false if users close the dialog directly.
                if (result) {
                    $.ajax({
                        url: '/QuanLy/TonKho/XuLyXoaTonKho',
                        type: 'POST',
                        data: { id: id },
                        success: function (data) {
                            if (data == 1) {
                                BootstrapDialog.alert('Xóa thành công', function () {
                                    location.href = '/QuanLy/TonKho';
                                });
                            }
                            else {
                                BootstrapDialog.alert('Có lỗi trong khi xóa, vui lòng thử lại!', function () {
                                    location.href = '/QuanLy/TonKho';
                                });
                            }
                        }
                    });
                }
            }
        });
    }
</script>
